.parent{
    background-color: #73fa00;
    width: 600px;
    height: 400px;
    padding: 20px;
    padding-top: 2px;
}
.child1{
    background-color: #cd5519;
    width: 590px;
    height: 130px;
}
.child2{
    background-color: #fbce00;
    margin-top: -20px;
    width: 590px;
    height: 130px;
}
button{
    margin-top: 40px;
    padding: 5px;
    margin-left: 20px;
}